
/*full screen*/
@media only screen and (min-width: 1200px) {
    .row .col.main {
        width: 45%;
        margin-left: 27%;
        margin-right: 27%;
    }
    #one {
        border-color: aliceblue;
        border-right-style: solid;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .row .col.main {
        width: 65%;
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 50px;
    }
    #one {
        border-color: aliceblue;
        border-right-style: solid;
    }
}
/*i pad*/
@media only screen and (min-width: 701px) and (max-width: 992px) {
    .row .col.main {
        width: 75%;
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 50px;
    }
    #one {
        border-color: aliceblue;
        border-right-style: solid;
    }
    .btn {
        float: none;
    }
}
/*mobile*/
@media only screen and (max-width:701px) {
    .row .col.main {
        width: 90%;
        padding-left: auto;
        padding-right: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
            }
}

.input-field.col {
    background-color: aliceblue;
    display: inline-block;
    max-width: 260px;
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin:3px;
}
input.validate {
    height: 40px;
    max-width: 240px;
    min-width: 240px;
    color: dimgray;
}
/*#one {
    border-color: aliceblue;
    border-right-style: solid;
}*/

.one {
    height: 100%;
    float: left;
    display: inline-block;
}
.two {
    min-height: 100%;
    float: left;
    display: inline-block;
    padding-top: 12%;
}
.three {
    height: 100%;
    display: inline-block;
}
.row {
    min-width: 200px;
}

#toto {
    min-width: 235px;
    max-width: 245px;
    margin-right: auto;
    margin-left: auto;
}


.back {
    width: 45%;
    min-height: 50px;
    display: inline-block;
    margin-left: 27%;
    margin-right: 27%;
    }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Acto-UltraLight',sans-serif;
    color: aliceblue;
}
 .welcome {
     width: 100%;
     height: 100%;
     background-image: url("/img/Headers/twitter.payfacile-by-night.png");
     background-size: contain;
     margin-right: auto;
     margin-left: auto;
     position: absolute;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    background-size: contain;
    position: absolute;
     }
h1
{
    margin-top: 0;
}
/*h1 {
    text-align: left;
    margin-left: 2%;
    margin-top: -20px;
    font-weight: 100;
    /*color: rgba(0, 0, 0, 0.87);
    text-shadow: 2px 2px grey;
    position: static;
   display: block;
    }*/

.logo {
    height: 110px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;

}
#text {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.main {

    border-radius: 15px;
    margin-top: 5%;
    /*width: 60%;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;*/
    background-image: url("/img/papers.co-ag01-toronto-material-design-illust-art-25-wallpaper.jpg");
     /*col.s12 1, 8; 24, 30, 33, 55, 67 ;
    background-image: url("/img/material-design.jpg");*/
    opacity: 1.0;
    background-size: cover;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.container {
    z-index: 9999;
}
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border-collapse: collapse;
    display: block;
    background-image: url("/img/bu (9).jpg"); /*Material_Design_Wallpaper_WALLPAPERDNA (17).png*/
    width: 100%;
    height: 100%;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.link
{
    height: 30px;
    background-color: transparent;
    font-size: inherit;
    color: darkslateblue;
    text-decoration: none;
    display: inline-block;

}
.link:hover, link:active {
    text-decoration: none;
}
.container.row {
    margin-left: inherit;
    margin-right: inherit;
}
/*.row {
    display: inline-block;
    background-color: aliceblue;
    /* transition: .35s cubic-bezier(0.190, 1.000, 0.220, 1.000);
     transform: scale(0);
    z-index: 1000;
    color: black;
    width: 300px;
    position: static;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
.container .row {
    margin-left: 5px;
    margin-right: 5px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Firefox < 16
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/
.navbar-brand:hover {
    color: aliceblue;
    background-color: #26a69a;
}
.navbar-brand {
    height: 64px;
}
nav .brand-logo {
    position: static;
}
.navbar-brand:visited {
     color: aliceblue;
     }
nav .brand-logo:hover {
    text-decoration: none;
}
nav .brand-logo:active{
     text-decoration: none;
 }
nav .brand-logo:visited{
    text-decoration: none;
}
.btn {
    display: inline-block;
    border: none;
    margin-bottom: 15px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.btn:active {
    border: none;
}
.btn:hover {
    border: none;
}
.btn:visited {
    border: none;
}

input.validate:checked {
    background-color: aqua;
}

/*header*/
.nav-wrapper {
    background-image: url("/img/Headers/header.png");

    }
/*

input.validate {
    height:46px;
    width: 250px;
}
.col.s12 {
    transform: scale(1);
    animation-iteration-count: 1
}
.col.s12>*:nth-child(2) {transition-delay: .1s}
.col.s12>*:nth-child(3) {transition-delay: .2s}
.col.s12>*:nth-child(4) {transition-delay: .3s}
.col.s12>*:nth-child(5) {transition-delay: .15s}
.col.s12>*:nth-child(6) {transition-delay: .25s}
.col.s12>*:nth-child(7) {transition-delay: .35s}
.col.s12>*:nth-child(8) {transition-delay: .4s}*/


#main {
    height: 80%;
}

@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}
.brand-logo {
    margin-left: 1.5em;
    margin-top: 0.3em;
    padding-left: 110px !important;
    background-size: 100px 35px;
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-image: url("/img/Logo/Logo.png");
}
/*background-image: url("/img/Logo/Logo.png");*/
#logo2 {
    margin-left: 0.5em;
    padding-left: 110px !important;
    width: 100px;
    position: absolute;
    top: 1px;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

/* CSS declarations go here *
.sing.up {
    width: 750px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url("/img/material-design.jpg");
    opacity: 0.7;
    background-size: contain;
    padding: 3%;
    background: url("/img/photo-1422513391413-ddd4f2ce3340.jpg");
}*/

/*@media screen and (max-width: 1024px) {
    h1 {font-size: 20px}
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 70%;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 60%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 50%;
    }
}

.vertical-line{
    height: 350px;
    width: 3px;
    display: inline-block;
    float: left;
    background-color: aliceblue;
}*/