/*Css made by Maria N.*/
body {
    font-family: 'Acto-UltraLight',sans-serif;
    color: #37474f;
}

/*font use in all body*/
@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}

/*container*/
.container {
    z-index: 9999;
    position: relative;
    width: 80%;
}

/*blur background-image*/
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border-collapse: collapse;
    display: block;
    background-image: url("/img/to (377).jpg");
    height: 100%;
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    /*-webkit-filter: brightness(0.4);
    filter: brightness(0.4);*/
}

/*logo in header*/
.payfacile-logo {
    height: 35px;
    margin-left: 1.5em;
}
/*header*/
nav .nav-wrapper {
    background-color: #483658;
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 67px;
}

/* buttons in header*/
#at-nav-button {
    width: 120px;
}

/* margin of the social buttons */
.at-social-btn {
margin-bottom: 3px;
}

/*small customizing in sign in/register form*/
.at-btn.submit .at-signup-link  {
    margin-top: 3px;
}

/* Register/Signin form*/
.col, .at-sep, .at-form {
    background-color:#eceff1;
    border-radius: 15px;
}

/* "or" inside Register/Signin form*/
.at-sep {
    margin-top: 17px;
    margin-bottom: 0;
}
/*overlap logo with form*/
.at-form{
    padding: 2%;
    min-width: 240px;
}

.col{
    margin-top: -5.5%;
}

/*input fields in register/signin form*/
.input-field {
    position: relative;
    margin-top: 0;
}
/*social buttons*/
/*Google*/
#at-google {
    background-color:#a9454d;
}
#at-google:hover {
    background-color: #b85058;
    color: black;
}
/*Stripe*/
#at-stripe {
    background-color: #00b1af;
}
/*Facebook*/
#at-facebook:hover {
    color: black;
}

/*circle payfacile logo in the body*/
.logo {
    height: 110px;
}

h3 {
    font-size: 2.4rem;
}


