<template name="account">
    <div class="row account">

      <div class="col s12 m4 l3 sidebar">
          <ul class="collapsible" data-collapsible="accordion">
              <li>
                  <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
          </ul>

          <ul id="slide-out" class="side-nav fixed">
              <li><a href="#!">First Sidebar Link</a></li>
              <li><a href="#!">Second Sidebar Link</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
       </div>


       <div class="col s12 m8 l9 content">
           <ul class="collapsible" data-collapsible="accordion">
               <li>lalala</li>
               <li>lalala</li>
               <li>lalala</li>
               </ul>
        Teal page content
       </div>
   </div>

</template>