<template name="index">
  {{>signInWithEmailModal}}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <img src="https://s3.amazonaws.com/themeteorchef-cdn/don_carlton.png" alt="Don Carlton holding business card.">
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h3>Sign In to DCS</h3>
                <p>Hey there team maties! Come on aboard!</p>
            </div>
            <ul class="btn-list">
                <li><button type="button" class="btn btn-social-login btn-google"><i class="fa fa-google"></i> Sign in with Google</button></li>
            </ul>
        </div>
    </div>
</template>