<template name="login">

<div class="container">
    <div class="row">
                <div class="col s10 offset-s1 m10 offset-m2 l4 offset-l4 main">
                <div class="col s12 l12 m12">
                   <center><img class="logo" style="align-content: center" src="/img/Logo/pay.png"></center>
                </div>
                <div class="col s12 m12 l12">
                    <h1 style="float: left; margin-top: -3%;">Log in</h1>
                </div>

                    <form  class="col s12" role="form" data-toggle="validator" action="demo_form.asp" method="post">
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <input id="email" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <input id="password" type="password" class="validate" pattern=".{6,}" title="Six or more characters" autocomplete="off">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <br>
                        <button class="btn-large waves-effect waves-light col s10 offset-s1 m10 offset-m2 l6 offset-l3" type="submit" name="action" style="float:right;">Log in
                            <i class="mdi-content-send right"></i>
                        </button>

                        <fieldset class="title">
                            <legend>OR</legend>
                        </fieldset>

                <div class="col s12 m12 l12">
               <button type="button" class="btn btn-social-login btn-google " id="toto"><i class="fa fa-google"></i></button>
                <!--<button id="facebook-login" class="btn btn-default"> Log in with Facebook</button>-->

                {{#if currentUser}}
                    {{currentUser.services.facebook.name}}
                    {{currentUser.services.facebook.gender}}
                    <button id="logout">Logout</button>
                {{else}}
               <button id="toto" class="btn btn-default" > <i class="fa fa-facebook"></i></button>
                {{/if}}

               <button class="waves-effect waves-light btn" id="toto"><i class="fa fa-cc-stripe"></i></button>
            </div>

            </form>

        </div>

        <div class="col s10 offset-s1 m10 offset-m2 l6 offset-l3 back">
            <a class="link" style="float: left;" href="{{pathFor 'signlog'}}"><i class="fa fa-chevron-left"></i>&nbsp; Back</a>
            <a class="link" style="float: right;" href="{{pathFor 'loginemail'}}">Log in&nbsp;<i class="fa fa-chevron-right"></i></a>
        </div>
</div>
    </div>
</template>