<template name="signup">
<div class="sing up">
    <center>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" pattern="[A-Za-z]">
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" pattern="[A-Za-z0-10]">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <label for="email">Email</label>
                </div>
            </div><br>
            <div class="row">
                <div class="input-field col s6"> <!--<div class="input-field col s12">-->
                    <input id="password" type="password" class="validate" pattern=".{6,}" title="Six or more characters">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="organisation" type="text" class="validate">
                    <label for="organisation">Organisation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <!--<input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">-->
                    <input id="phone" type="text" class="validate">
                    <label for="phone">Phone</label>
                </div>
            </div>
        </form>
    </center>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
</button>

</template>