<template name="signup">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6 main">
                    <div class="col s12 m12 l12 lo">
                        <center> <img class="logo" style="align-content: center" src="/img/Logo/pay3.png"></center>
                    </div>

                    <div class="col s12 m12 l12 lo">
                        <h1 style="float: left">Sign up</h1>
                    </div>
                <form class="col s12" id="myForm" role="form" data-toggle="validator" action="demo_form.asp" method="post">
                <div class="input-field col s12 m6 l6 ">
                    <input id="first_name" type="text" class="validate" autocomplete="off" pattern="[a-zA-Z-]+">
                    <label for="first_name">First Name</label>
                    <!--<div class="red-text">
                        <i class="mdi-alert-warning">
                            ::before
                        </i> This field is required
                    </div>--></div>


                    <div class="input-field col s12 m6 l6 ">
                    <input id="last_name" type="text" class="validate" autocomplete="off" pattern="[a-zA-Z-]+">
                    <label for="last_name">Last Name</label>
                </div>


                    <div class="input-field col s12 m6 l6 ">
                    <input id="email" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off">
                    <label for="email">Email</label>
                </div>

                    <div class="input-field col s12 m6 l6 ">
                    <input id="password" type="password" class="validate" pattern=".{6,}" title="Six or more characters" autocomplete="off">
                    <label for="password">Password</label>
                </div>

                    <div class="input-field col s12 m6 l6 ">
                    <input id="organisation" type="text" class="validate" autocomplete="off" pattern="[a-zA-Z-]+">
                    <label for="organisation">Organisation</label>
                </div>

                <div class="input-field col s12 m6 l6 ">
                    <!--<input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">-->
                    <input id="phone" type="text" class="validate"  pattern="[0-9]{9}" title="Input only numbers" autocomplete="off">
                    <label for="phone">Phone</label>
                </div>
                    </form>
            <br>

            <button class="btn waves-effect waves-light" type="submit" name="action" style="float: right">Submit
                <i class="mdi-content-send right"></i>
            </button>
        <br>
        <div>
            <a class="waves-effect waves-light btn s3 m3 l3  teal accent-1" style="float: left; height: 15px" href="{{pathFor 'signupwith'}}"><i class="fa fa-chevron-left"></i>&nbsp; Back</a>
            <a class="waves-effect waves-light btn s3 m3 l3"  style="float: right"  href="{{pathFor 'signupwith'}}">Next&nbsp;<i class="fa fa-chevron-right"></i></a>
        </div>
                </div>
            </div>
        </div>
</template>